/* Header  */
.about-header {
  background-image: url(../img/back-header.png), url(../img/about.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 590px;
}

.header-content {
  color: #fff;
}

.header-content h1 {
  font-size: 60px;
  font-weight: 600;
}

.header-content p {
  font-size: 28px;
  font-weight: 400;
}

.header-content button {
  width: fit-content;
}

@media only screen and (max-width: 992px) {
  .header-content h1 {
    font-size: 44px;
    font-weight: 600;
  }

  .header-content p {
    font-size: 18px;
    font-weight: 400 !important;
  }
  .overlay {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
/* Header  */

/* Youtube  */
.youtube {
  background-image: url(../img/Rectangle\ 20.png), url(../img/Rectangle\ 33.png);
  background-size: cover;
  background-position: center;
  height: 600px;
}
/* Youtube  */


/* Team  */
.bg-steper{
  background-color: #FEEFE6;
  width: 40px;
  height: 40px;
  color: #648D87;
}

.team-father{
  padding: 0;
}

.team-father img{
  height: 500px;
}

.team-card{
  bottom: 0px;
  background: linear-gradient(#ce5c60b8,#ff85678a) !important;
  row-gap: 15px;
  padding: 10px 15px ;
  border-radius: 18px !important;
}

.team-info{
  gap: 20px;
}

.team-info p{
margin-bottom: 0px !important;
font-size: 0.8rem;
color: white;
}
/* Team  */


/* Features  */
.feature-card{
height: 180px;
}

.feature-content h3{
  font-size: 1rem;
}

.feature-content-1 h3{
  font-size: 1rem;
}

.feature-content,.feature-content-1{
  background-image: url(../img/Rectangle\ 41.png);
  height: 100%;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  font-size: 0.7rem;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.feature-content-1{
  background-image: url(../img/Rectangle\ 42.png);
}

.feature-father{
  row-gap: 14px;
}
/* Features  */